.header {
    background-image: linear-gradient(0, #fe6433,#f53e2d);
}

.header__navbar {
    display: flex; /*Item nằm trên cùng 1 dòng*/
    justify-content: space-between; /*2 item cùng 1 hàng sẽ cách nhau xa*/
}

.header__navbar-list {
    list-style-type: none; /*Làm dấu stt đầu câu của list*/
    padding-left: 0; /*Bỏ đi trạng thái mặc định của thẻ ul*/
    margin-top: 4px;
}




.header__navbar-item {
    display: inline-block;
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

/* Sử dụng để hiện QR khi hover qua */
.header__navbar-item--has-qr:hover .header__qr{
    display:block;
}


/* Code cho phần  */
.header__navbar-item,
.header__navbar-item-link {
    font-size: 1.5rem; /* = 15px*/
    color: var(--white-color);
    text-decoration: none; /*bỏ gạch chân thẻ a*/
    font-weight: 300; /*Bỏ độ dày của font chữ*/
}


/* Canh zữa Item cho chuỗi kết nối và 2 icon facebook , instagram */
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}


/* Hiệu ứng khi rê chuột vào */
.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    cursor:  pointer; /*Con trỏ chuột thay đổi khi rê chuột qua*/
    color: rgba(255,255,255,0.7); /*Độ mờ */
}

/* chữ in đậm cho 2 chữ đăng ký và đăng nhập*/
.header__navbar-item--strong {
    font-weight: 500;
}

/* Code cho phần ngăn cách giữa chữ đăng nhập và đăng ký */
.header__navbar-item--seperate:after { /*CSS phía sau class này*/
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}


/* =============== Begin ======================== */
/* Code cho icon facebook và Instagram */
.header__navbar-icon-link { 
    color: var(--white-color);
    text-decoration: none;
}


.header__navbar-icon { 
    font: size 1.8rem;
    margin: 0 6px;
}

/* làm cho khi rê chuột qua link không hiện bàn tay , tránh hiểu nhầm */
.header__navbar-title-no-pointer { 
    cursor:text;
    color: var(--white-color);
}


/* Herder QR_CODE */
.header__qr {
    width: 186px;
    color: var(--white-color);
    position: absolute;
    left: 0;
    top: 100%;
    padding: 5px 0; /*Cách trên 5px trái phải 0*/
    border-radius: 2px; /*bo góc*/
    display: none; 
    animation: faceIn ease-in 0.4s;
}

/* Tạo cầu bắc để link khi rê chuột xuống khoảng cách không bị mất khi hover */
.header__qr::before {
    position: absolute;
    left: 0;
    top: -7px;
    width: 100%;
    height: 20px;
    content: "";
    display: none;
    /* background-color:red; */
}


.header__qr-img {
    width: 100%;

}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
    /* margin-top: -15px; */

}

.header__qr-dowload-img {
    height: 17px;

}
/* 2 cách lấy ra con số 1 hoặc 2   .header__qr-link:first-child   */
.header__qr-link:nth-child(1) {
    margin-left: 4px;
}

.header__qr-link:nth-child(2) {
    margin-right: 7px;
}

/*  Code cho icon facebook và Instagram */
/* =============== END ======================== */





/* =============== Begin ======================== */
/* BEGIN Phần Thông Báo mới */

/* kHUNG BÊN NGOÀI, BAO TRÙM TOÀN BỘ BỐ CỤC THÔNG BÁO */
.header__notify {
    position: absolute;
    top: 118%;
    width: 404px;
    right: 0px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);

}

/* THANH MÀU TRẮNG ĐẦU TIÊN CỦA PHẦN THÔNG BÁO */
.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}
/* thanh h3 nằm trong phần thông báo */
.header__notify-header h3 {
    color: #999;
    margin: 0; /*Bỏ magin mặc định của h3*/
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px; /*Canh giữa , cho chiều cao bằng chiều cao của thanh đầu*/
}


/* thẻ ul */
.header__notify-list {
    padding-left: 0; /*Bỏ padding mặc định của trình duyệt*/
    


}

.header__notify-item {
    display: flex;

}

.header__notify-item--viewed { 
    background-color: rgba(238,75,43,0.09);
}


/* Thẻ a bao bọc cả 1 hàng link sản phẩm */
.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
    /* background-color: rgba(238,75,43,0.09); */
    width: 100%;
    box-sizing: inherit;

}

.header__notify-link:hover {
    background-color: rgba(43, 238, 157, 0.09); 
}


/* Hình Anhr sản phẩm */
.header__notify-img {
    width: 45px;
    object-fit: contain; /*fix ảnh, không bị méo*/

}

.header__notify-info {
    margin-left: 12px;

}

/* Tên sản phẩm */
.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400; /*Chữ Đẫm*/

}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.6rem;
}


/* Nút Xem Tất Cả */
.header__notify-footer {
    display:flex;
    text-align: center;
    height: 3rem;
    background-color: #ccc;
    justify-content: center; /*Canh giữa Item*/
}

.header__notify-footer:hover {
    cursor: text;
}

/* Nút Xem Tất Cả */
.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 10px;
    align-items: center; /*Canh giữa chữ trong item*/
}


/* END Phần Thông Báo mới */
/* =============== End ======================== */