
.main {
    overflow: hidden;
}


.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433,#f53e2d);
}



.header__navbar {
    display: flex; /*Item nằm trên cùng 1 dòng*/
    justify-content: space-between; /*2 item cùng 1 hàng sẽ cách nhau xa*/
}

.header__navbar-list {
    list-style-type: none; /*Làm dấu stt đầu câu của list*/
    padding-left: 0; /*Bỏ đi trạng thái mặc định của thẻ ul*/
    margin-top: 4px 0 0 0;
    display: flex;
}


.header__navbar-item {
    display: inline-block;
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}



.header__navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
    transform-origin: 75% 0%; /*Thay đổi tâm của animation */
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform; /*Tối ưu chuyển động animation cho nhiều trình duyệt*/
}



.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1);
}

.header__navbar-user-name {
    margin-left: 6px;
    font-size: 1.6rem;
    font-weight: 400;
    
}



.header__navbar-user-menu {
    z-index: 1; /*làm nổi giao diện theo thứ tự*/
    position: absolute;
    padding-left: 0;
    top: calc(100% + 5px);
    right: 0;
    width: 160px;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}



.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 10px 16px;
    display: block;
}


/* header sort bar */
.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    /* height: 46px; */
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item {
    flex: 1;
}

.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    line-height: var(--header-sort-bar-height);
    height: 100%;
    text-align: center;
    position: relative;
}

.header__sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

.header__sort-link--active .header__sort-link {
    color: var(--primary-color);

}

.header__sort-item:first-child .header__sort-link::before{
    display: none;
}
.header__sort-item:last-child .header__sort-link::before{
    display: none;
}






.header__navbar-user-item a:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}



.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0,0,0,0.05);
}


.header__navbar-user-menu::before {
    position: absolute;
    right: 24px;
    top: -28px;
    content: "";
    /* background-color: red; */
    border-width: 19px 29px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}


.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    right: 0px;
    top: -8px;
    width: 100%;
    height: 8px;
    /* background-color: green; */
}



.header__navbar-user-item a:hover {
    background-color: #fafafa;
}



/* Sử dụng để hiện QR khi hover qua */
.header__navbar-item--has-qr:hover .header__qr{
    display:block;
}


.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}


/* Code cho phần  */
.header__navbar-item,
.header__navbar-item-link {
    font-size: 1.5rem; /* = 15px*/
    color: var(--white-color);
    text-decoration: none; /*bỏ gạch chân thẻ a*/
    font-weight: 300; /*Bỏ độ dày của font chữ*/
}


/* Canh zữa Item cho chuỗi kết nối và 2 icon facebook , instagram */
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}


/* Hiệu ứng khi rê chuột vào */
.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    cursor:  pointer; /*Con trỏ chuột thay đổi khi rê chuột qua*/
    color: rgba(255,255,255,0.7); /*Độ mờ */
}

/* chữ in đậm cho 2 chữ đăng ký và đăng nhập*/
.header__navbar-item--strong {
    font-weight: 500;
}

/* Code cho phần ngăn cách giữa chữ đăng nhập và đăng ký */
.header__navbar-item--seperate:after { /*CSS phía sau class này*/
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}


/* =============== Begin ======================== */
/* Code cho icon facebook và Instagram */
.header__navbar-icon-link { 
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 3px;
}


.header__navbar-icon { 
    font: size 1.8rem;
    margin: 0 6px;
}

/* làm cho khi rê chuột qua link không hiện bàn tay , tránh hiểu nhầm */
.header__navbar-title-no-pointer { 
    cursor:text;
    color: var(--white-color);
}


/* Herder QR_CODE */
.header__qr {
    width: 186px;
    color: var(--white-color);
    position: absolute;
    left: 0;
    top: 100%;
    padding: 5px 0px 0; /*Cách trên 5px trái phải 0*/
    border-radius: 2px; /*bo góc*/
    display: none; 
    animation: fadeIn ease-in 0.4s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

/* Tạo cầu bắc để link khi rê chuột xuống khoảng cách không bị mất khi hover */
.header__qr::before {
    position: absolute;
    left: 0;
    top: -7px;
    width: 100%;
    height: 20px;
    content: "";
    display: none;
    /* background-color:red; */
}

.header__qr::after {
    position: absolute;
    left: 0;
    top: -7px;
    width: 100%;
    height: 20px;
    content: "";
    display: none;
    /* background-color:red; */
}


.header__qr-img {
    width: 100%;

}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
    background-color: var(--white-color);
    padding-top: 4px;
    height: 100%;
    margin-top: -3px;

}

.header__qr-dowload-img {
    height: 17px;

}
/* 2 cách lấy ra con số 1 hoặc 2   .header__qr-link:first-child   */
.header__qr-link:nth-child(1) {
    margin-left: 4px;
}

.header__qr-link:nth-child(2) {
    margin-right: 7px;
}

/*  Code cho icon facebook và Instagram */
/* =============== END ======================== */





/* =============== Begin ======================== */
/* BEGIN Phần Thông Báo mới */

/* kHUNG BÊN NGOÀI, BAO TRÙM TOÀN BỘ BỐ CỤC THÔNG BÁO */
.header__notify {
    position: absolute;
    top: 118%;
    width: 404px;
    right: 0px;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    background-color: var(--white-color);
    transform-origin: 95% 0%; /*Thay đổi tâm của animation */
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform; /*Tối ưu chuyển động animation cho nhiều trình duyệt*/
    cursor: default; /*Khi di chuột qua ko đổi thành bàn tay*/
    user-select: none; /*Không cho copy*/
    -webkit-user-select: none; /*trình duyệt cốc cốc*/
    display: none;
    z-index: 1;

}


/* di chuột vào sẽ ẩn hiện thông báo */
@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0); /*Kích thước ko có*/
    }
    to {
        opacity: 1;
        transform: scale(1); /*Kích thước như cũ*/
    }
}



/* THANH MÀU TRẮNG ĐẦU TIÊN CỦA PHẦN THÔNG BÁO */
.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}
/* thanh h3 nằm trong phần thông báo */
.header__notify-header h3 {
    color: #999;
    margin: 0; /*Bỏ magin mặc định của h3*/
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px; /*Canh giữa , cho chiều cao bằng chiều cao của thanh đầu*/
}


/* thẻ ul */
.header__notify-list {
    padding-left: 0; /*Bỏ padding mặc định của trình duyệt*/
    


}

.header__notify-item {
    display: flex;

}

.header__notify-item--viewed { 
    background-color: rgba(238,75,43,0.09);
}


/* Thẻ a bao bọc cả 1 hàng link sản phẩm */
.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
    /* background-color: rgba(238,75,43,0.09); */
    width: 100%;
    box-sizing: inherit;

}

.header__notify-link:hover {
    background-color: rgba(43, 238, 157, 0.09); 
}



/* Hình Anhr sản phẩm */
.header__notify-img {
    width: 45px;
    object-fit: contain; /*fix ảnh, không bị méo*/

}

.header__notify-info {
    margin-left: 12px;

}

/* Tên sản phẩm */
.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 450; /*Chữ Đẫm*/
    line-height: 1.6rem;

}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.8rem;
    margin-top: 5px;
}


/* Nút Xem Tất Cả */
.header__notify-footer {
    display:flex;
    text-align: center;
    height: 4rem;
    /* background-color: #ccc; */
    justify-content: center; /*Canh giữa Item*/
    margin-top: 5px;
}

.header__notify-footer:hover {
    cursor: text;
}

/* Nút Xem Tất Cả */
.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 10px;
    line-height: 2rem; /*Canh giữa chữ trong item*/
    font-size: 1.4rem;
    font-weight: 400;
    width: 100%;
    /* background-color: #ccc; */
}


/* Tạo cầu bắc để link khi rê chuột xuống khoảng cách không bị mất khi hover */
.header__notify::before {
    position: absolute;
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 1px;
    top:-30px;
    /* display: none; */
    /* background-color:red; */
}

.header__notify::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 20px;
    right: -5px;
    top: -13px;
    /* display: none; */
    /* background-color:green; */
}


/* END Phần Thông Báo mới */
/* =============== End ======================== */




/* Authen modal */

.auth-form {
    width: 500px; 
    background-color: var(--white-color);
    border-radius: 5px; /*Bo góc*/
    overflow: hidden; /*Không cho phép thèn con vượt ra ngoài thèn cha*/

}


.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {

}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none; /* phần này khi bấm chuột vào input hoặc button sẽ nổi lên */
    box-sizing: border-box; /* lÀM Kích thước không bị thay đổi khi làm dầy padding và border */
}

/* Khi trỏ chuột ở đó thì có tác vụ gì */
.auth-form__input:focus {
    border-color: #888;
}


.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.7rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;

}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #F5F5F5;
    padding: 14px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}


.auth-form__socials-google,
.auth-form__socials-facebook {
    color: var(--white-color);
}

.auth-form__socials-facebook {
    background-color: #3A5A98;
    color: var(--white-color);
}


.auth-form__socials-google {
    background-color: var(--white-color);
    color: #666;
}

.auth-form__socials-title {
    margin:0 36px;
}


.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid #EAEAEA;
    height: 22px;
    margin: -3px 16px 0;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}




/* Header With search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;

}

.header__mobile-search {
    padding: 0 12px;
    display: none;
}


.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}



.header__logo {
    width: 200px;
    
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
    padding: 0;
    display: block;
    line-height: 0;
}


/* ẨN hiện checkbox */
.header__search-checkbox:checked ~ .header__search{
    display: flex;
}   


.header__logo-img {
    width: 150px;
    color: var(--white-color);
    
}

.header__search {
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-sizing: border-box; /* lÀM Kích thước không bị thay đổi khi làm dầy padding và border */
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.header__cart {
    width: 150px; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__cart-wrap {
    padding: 0 8px;
    cursor: pointer;
    
}

.header__cart-wrap:hover .header__cart-list {
    display: flex;
    transform-origin: 85% 0%; /*Thay đổi tâm của animation */
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform; /*Tối ưu chuyển động animation cho nhiều trình duyệt*/
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 4px;  
}

.header__search-input-wrap {
    flex: 1;
    /* width: 30%; */
    height: 100%;
    position: relative;
}


.header__cart-list {
    position: absolute;
    top: calc( 100% + 7px );
    right: 20px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0,0,0,0.2);
    flex-direction: column;
    display: none;
    cursor: default; /*Loại bỏ hình bàn tay khi rê chuột qua*/
    user-select: none; /*Không cho copy*/
    z-index: 1;
    
}


.header__cart-list::after {
    /* background-color: green; */
    position: absolute;
    content: "";
    width: 125px;
    height: 20px;
    right: 0px;
    top: -9px;
    cursor: pointer;
}

.header__cart-list::before {
    position: absolute;
    right: 24px;
    top: -28px;
    content: "";
    /* background-color: red; */
    border-width: 19px 29px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}



.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list--no-cart-msg {
    display: block;
}


.header__cart-no-cart-img {
    width: 30%;
    padding: 12px 0;
    margin: 0 auto;
    display: none;
}

.header__cart-list--no-cart-msg {
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 0 auto;
    display: none;
}


/* Phần hiện số có bao nhju sản phẩm trên giỏ hàng */
.header__cart-notice {
    position: absolute;
    padding: 1px 6px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
    right: 32%;
    top: -3px;
}



.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
    /* overflow: hidden;  Tất cả dữ liệu con chồi ra ngoài cha sẽ bị ẩn */
}


.header__search-select {
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;

}

.header__search-select-lable {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    color: #4A4A4A;
    margin: 0 16px;
    position: relative; /*Thêm 2 dòng này để chỉnh vị trí của 1 đối tượng mà ko ảnh hưởng đến đối tương khác*/
    top: 1px;/*Thêm 2 dòng này để chỉnh vị trí của 1 đối tượng mà ko ảnh hưởng đến đối tương khác*/
}


.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover {
    background-color: #fb6465;
    cursor: pointer;
}

.header__search-select:hover .header__search-option{
    display: block;
    
}


.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-option {
    position: absolute;
    right: 0;
    top: calc(100% - 2px);
    padding-top: 5px;
    width: 130px;
    box-shadow: 0 1px 3px #ccc; /*Bóng Đổ*/
    padding-left: 0;
    border-radius: 2px;
    /* overflow: hidden; */
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;

}


.header__search-option::after {
    display: block;
    content: "";
    /* background-color: red; */
    height: 10px;
    width: 100%;
    top: -10px;
    left: 0;
    position: absolute;
}


.header__search-option-item {
    list-style: none;
    background-color: var(--white-color);
    padding: 8px 8px;

}

/* Search item đầu tiên của class */
.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin: 0 4px 0px 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}




/* Search History */

.header__search-input:focus ~ .header__search-history{
    display: block;
}

.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px #999;
    display: none;
    z-index: 1;
}

.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;

}

.header__search-history-list {
    padding-left: 0;
    list-style-type: none;
    margin: 0;
    
}

.header__search-history-item {
    height: 38px;
    padding: 0px 12px;

}

.header__search-history-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}


.header__search-history-item a { 
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 3.8rem;  /*Canh giữa chữ trong ô bằng cách cho chiều cao chữ bằng đúng chiều cao thẻ*/
    display: block;

}




/* ============================== */
/* Begin Giỏ Hàng có sản phẩm */

.header__cart-heading {
    text-align: left;
    margin: 9px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    margin: 0;
    max-height: 50vh; /*50% chiều cao màn hình trình duyệt*/
    /* overflow: auto; Nếu chiều dài hoặc chiều rộng vượt quá kích thước sẽ hiện thanh cuộn */
    overflow-y: auto; /*Chỉ chiều dài vượt quá kích thước sẽ hiện thanh cuộn */

}

.header__cart-item {
    display: flex;
    align-items: center;
    
}

.header__cart-item:hover {
    background-color: #F8F8F8;
}



.header__cart-img {
    width: 42px;
    height: 42px; 
    margin: 12px;
    border: 1px solid #E8E8E8;
    
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-right: 12px; */
}

.header__cart-item-name {
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    flex: 1;
    padding-right: 16px;
    text-align: left;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    -o-text-overflow: ellipsis;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);

}

.header__cart-item-multiply {
    font-size: 0.9rem;
    color: #757575;
    margin: 0 4px;

}

.header__cart-item-quantity {
    font-size: 1.2rem;
    color: #757575;

}

.header__cart-item-body {
    color: #757575;
    display: flex;
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 5px;
    justify-content: space-between;
}

.header__cart-item-description {
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 300;
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}


.header__cart-view-cart {
    display: flex;
    width: 30%; 
    text-align: center;
    float: right;
    margin: 12px 12px 12px 0;
}

.header__cart-view-cart:hover {
    background-color: #F05D4F;
}

/* End Giỏ Hàng có sản phẩm */
/* ============================== */



/* ============================== */
/* Begin APP CONTAINER */
.app__container {
    background-color: #F5F5F5;
}

.app__content {
    padding-top: 36px;
}


.category {
    background-color: var(--white-color); 
    border-radius: 2px;
}


.category-item {
    position: relative;
}

.category-item:first-child::before {
    display: none;
}

.category-item::before {
    position: absolute;
    content: "";
    border-top: 1px solid #E1E1E1;
    width: 100%;
    top: 0;
    left: 0;

}

.category__heading {
    color: var(--text-color);
    font-size: 1.7rem;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    margin: 0;
    text-transform: uppercase;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}


.category-list {
    padding:0;
    list-style: none;
    margin-left: 14px;

}

.category-item--active .category-item__link{
    color: var(--primary-color);

}


.category-item--active .category-item__link::before {
    content: "";
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    top: 50%;
    left: 2px;
    transform: translateY(calc(-50% - 1px));
}


.category-item__link {
    position: relative;
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 16px;
    transition: right linear 0.1s;
    right: 0;
    font-weight: 400;
    min-height: 4rem;
    display: flex;
    align-items: center;
}



.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}




/* ============================== */
/* Begin APP CONTAINER */


/* Mobile category */
.mobile-category {
    display: none;
}

.mobile-category__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto; /*Nếu thẻ con vượt quá kích thước thẻ cha sẽ tạo thanh scoll*/
}
/* Ẩn thanh trượt ngang hoặc dọc */
.mobile-category__list::-webkit-scrollbar {
    display: none;
}


.mobile-category__item {
    flex-shrink: 0; /*Khi thẻ cha bị co lại, nhưng vẫn muốn con nằm ngang*/
    margin-right: 10px;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link{
    background-color: #87AFD8;
}   
.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link{
    background-color: #76C9BD;
}
.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link{
    background-color: #88CF81;
}

.mobile-category__link {
    --line-height:2rem;
    text-decoration: none;
    /* color: var(--text-color); */
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    height: calc(var(--line-height)*2);
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    -o-text-overflow: ellipsis;
    text-align: center;
    width: 110px;
    border-radius: 5px;
    font-weight: 300;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent; /*Ân khi bấm vào sẽ hiện ô vuông trên giao diện tablet, điện thoại*/
    padding: 0 6px;

}
/* ==================================== */


.home-filter {
    display: flex;
    align-items: center;
    padding: 22px 12px;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.04);
}

.home-filter__lable {
    font-size: 1.4rem;
    color: #555555;
    margin-right: 16px;

}

.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;

}


.home-filter__page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}


.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;

}


.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    display: flex;
    width: 72px;
    height: 36px;
}


.home-filter__page-btn {
    overflow: hidden;
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}


.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}


.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555555;
}

.home-filter__page-btn--disable {
    background-color: #f9f9f9;
    cursor: default;

}
.home-filter__page-btn--disable .home-filter__page-btn{
    color: #ccc;
}

/* END APP CONTAINER */
/* ============================== */



/* ============================= */
/*Begin Từng Sản Phẩm con */

.home-product-item-wrapper {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    margin-top: 10px;
    background-color: var(--white-color);
    position: relative;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
    text-decoration: none;
}


.home-product-item:hover {
    box-shadow: 0 0.1rem 2rem 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-1px);
}


/* Kỹ thuật ảnh */
.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat; /*Không Lặp lại ảnh nếu ảnh quá nhỏ*/
    background-size: contain; /*co hình đúng giao diện*/
    background-position: center; /*lấy phần trọng tâm của hình nếu hình bị che khuất*/

}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px;
    /* Xử lý chỉ hiện 2 dòng chữ , nếu dài hơn sẽ hiện .......*/
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    -o-text-overflow: ellipsis;

}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    margin-left: 10px;
    font-size: 1.3rem;
    color: #666;
    text-decoration: line-through; /*Gạch Bỏ giá*/

}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 6px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 4px 10px 0;
}

.home-product-item__like {
    font-size: 1.4rem;
}

.home-product-item__liked .home-product-item__like-icon-fill{
    display: inline-block;
}

.home-product-item__liked .home-product-item__like-icon-empty{
    display: none;
}

i.home-product-item__like-icon-fill {
    display: none;
    color: #F63D30;
}

.home-product-item__like-icon-empty {

}

.home-product-item__rating {
    font-size: 1rem;
    transform: scale(0.9); /*Thu nhỏ phần tử xuống 0.7 theo tâm*/
    transform-origin: right; /*Đổi tâm thu nhỏ sang bên phải*/
    color: #D5D5D5;
    margin:-1px 0 0 auto;
}

.home-product-item__star--gold {
    color: var(--star-gold-color);
}

.home-product-item__soid {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__brand {

}

.home-product-item__origin-nanme {

}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor; /*Ăn theo màu chủ đạo*/
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: 400;
    padding-right: 4px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}


.home-product-item__favourite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid green;
    border-left: 3px solid transparent;
    filter: brightness(60%);/*Giảm độ sáng của màu chỉ còn 40%*/
}

.home-product-item__favourite span{
    color: var(--white-color);
}


.home-product-item__favourite i {
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
    color: var(--white-color);
}

.home-product-item__sale-off {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255,216,64,0.90);
    text-align: center;
    box-shadow: none;
    
}


.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    color: rgba(255,216,64,0.90);
    border-color: transparent currentColor transparent currentColor;

}

.home-product-item__sale-off-percen {
    color: #EE4D2D;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.3rem;
    margin-bottom: 4px;

}

.home-product-item__sale-off-lable {
    
    color: var(--white-color);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.2rem;
}


/*End Từng Sản Phẩm con */
/* =========================== */



.home-product__pagination {
    margin-top: 48px;
    margin-bottom: 32px;
    padding-left: 0;

}



/* Foodter */
.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
    background-color: var(--white-color);
}


.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}


.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 12px 0;

}


.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}

.footer__dowload {
    display: flex;
    align-items: center;
}

.footer__dowload-qr {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border: 1px solid var(--border-color);
}

.footer__dowload-apps {
    flex: 1;
    margin-left: 16px;
    
}

.footer__download-app-img {
    height: 20px;
    margin-top: 10px;
}

.footer__bottom-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__bottom {
    font-size: 1.4rem;
    margin: 0;
    padding: 8px 0;
    background-color: #F5F5F5;
}


.footer-text {
    text-align: center;
    color: #737373;
}

